<html>
    <head>
        <title>bmiidxgold's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">bmiidxgold's Blog</a></h1>
        </div>

        <div>
            <p>published: 26.01.2020, 13:00</p>
            <h2><a href="">My First post</a></h2>
            <p>Hello こんにちは！　よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日: 2020/01/26, 13:00</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いしますか？</p>
        </div>

    </body>
</html>